@model IQueryable<NewsSite.Core.Database.Tables.Category>

@foreach (var category in Model)
{
    var posts = category.Posts.OrderByDescending(x => x.Id).Take(4);

    <div class="row cm-category-pane">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="cm-category-header">
                        <a href="@Url.Action("CategoryDetail", "Post", new { slug = category.Slug, id = category.Id })">@category.Name.ToUpper()</a>
                    </h3>
                    <div class="cm-category-seperator">
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var post in posts)
                {
                    <a href="@Url.Action("PostDetail", "Post", new { id = post.Id, slug = post.Slug, category = post.Category.Slug })">
                    <div class="col-sm-6 col-md-3">
                    <div class="cm-img-container-middle">
                    <img src="~/@post.ImgUrlMiddle" class="img-thumbnail" />
                    </div>
                    <h4 class="cm-post-header">@post.Title</h4>
                    <p class="cm-post-desc">
                    @post.Description
                    </p>
                    </div>
                    </a>
                }
            </div>
        </div>
    </div>
}
