<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/maincss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Areas/Admin/Content/Dashboard.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Admin.css" rel="stylesheet" />

    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        var app_root = '@Url.Content("~")';

        $(function () {
            $('.nav-sidebar li a').each(function () {
                if ($(this).attr('href') === window.location.pathname) {
                    $(this).parent().addClass('active');
                }
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="@Url.Action("Index","Post")">Haberler<span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Index", "Category")">Kategoriler</a></li>
                    <li><a href="@Url.Action("Index", "Tag")">Etiketler</a></li>
                    <li><a href="@Url.Action("Index", "Galery")">Galeriler</a></li>
                    <li><a href="@Url.Action("Index", "Comment")">Yorumlar</a></li>
                    <li><a href="@Url.Action("Index", "User")">Kullanıcılar</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div>
                    @Html.DisplayMessage()
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>