@model IQueryable<NewsSite.Core.Database.Tables.PictureGalery>

@{
    ViewBag.Title = "Galeriler";
}

<a href='@Url.Action("AddPictureGalery", "PictureGalery")' class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Yeni Galeri</a>
<hr />

@using GridMvc.Html
@Html.Grid(Model).Columns(columns =>
{
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(x => Edit(x));
    columns.Add(column => column.Name).Titled("Galeri").Sortable(true);
    columns.Add(column => column.Description).Titled("Açıklama").Sortable(true);
    columns.Add(column => column.IsActive).Titled("Aktif").Sortable(true);
    columns.Add(column => column.Slug).Titled("Seo Ad").Sortable(true);
    columns.Add(column => column.Pictures.Count).Titled("Resim Sayısı").Sortable(true);
}).WithPaging(20)

@helper Edit(NewsSite.Core.Database.Tables.PictureGalery PictureGalery)
{
    <a href='@Url.Action("Pictures", "PictureGalery", new { PictureGaleryId = PictureGalery.Id })' class="btn btn-primary"><span class="glyphicon glyphicon-camera"></span></a>
    <a href='@Url.Action("EditPictureGalery", "PictureGalery", new { id = PictureGalery.Id })' class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href='@Url.Action("DeletePictureGalery", "PictureGalery", new { id = PictureGalery.Id })' onclick="return confirm('Silmek istediğinize emin misiniz?')" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></a>
}