<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta property="fb:page_id" content="350120665139045" />
    <title>Gündemden Sıkılanlar İçin Gündem Dışı Herşey! - @ViewBag.Title</title>
    <link rel="canonical" href="" />
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/maincss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        var app_root = '@Url.Content("~")';
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Site Name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kategoriler <span class="caret"></span></a>
                        @Html.Action("_CategoriesMenu", "Home")
                    </li>
                    <li>@Html.ActionLink("Makale Gönderin", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="body" class="container body-content">
        @RenderBody()
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <p>&copy; @DateTime.Now.Year - Gündem Dışı</p>
                </div>
                <div class="col-xs-6" style="text-align:right;">
                    
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
